<h3 class="table_title">Lista de Productos</h3>
<div>
    {{#if product.length}}
    <table class="productTable">
        <tr>
            <th>Titulo</th>
            <th>Precio</th>
            <th>Stock</th>
            <th>Foto</th>
        </tr>
        {{#each product}}
        <tr>
            <td>{{title}}</td>
            <td>${{price}}</td>
            <td>{{stock}}</td>
            <td><img width="48" src={{thumbnail}} alt="image"></td>
        </tr>
        {{/each}}
    </table>
    {{else}}
    <div class="noProds">
        No hay productos
    </div>
    {{/if}}
</div>