<h3 class="table_title">Lista de Productos</h3>
<div>
    {{#if product.length}}
    <table class="productTable">
        <tr>
            <th>Title</th>
            <th>descritpion</th>
            <th>code</th>
            <th>thumbnail</th>
            <th>price</th>
            <th>Stock</th>
            
        </tr>
        {{#each product}}
        <tr>
            <th>{{Title}}</th>
            <th>{{descritpion}}</th>
            <th>{{code}}</th>
            <td><img width="48" src={{thumbnail}} alt="image"></td>
            <th>{{price}}</th>
            <th>{{Stock}}</th>
            
        </tr>
        {{/each}}
    </table>
    {{else}}
    <div class="noProds">
        No hay productos
    </div>
    {{/if}}
</div>